.table-acoes{
  width: 100%;
}

.botao-salvar{
  bottom: 25px;
  left: 92%;
  marginLeft: -100;
  position: absolute
}

@media screen and (max-width: 850px) {
  .botao-salvar{
    left: 88%;
  }
}

@media screen and (min-width: 1000px) {
  .botao-salvar{
    left: 95%;
  }
}
