.table-acoes{
  width: 100%;
}

.botao-salvar{
  bottom: 25px;
  left: 95%;
  marginLeft: -100;
  position: absolute
}

@media screen and (max-width: 1600px) {
  .botao-salvar{
    left: 94%;
  }
}

@media screen and (max-width: 850px) {
  .botao-salvar{
    left: 90%;
  }
}
