<div class="dialog-salvar">
  <h2 mat-dialog-title>Salvar ação</h2>
  <mat-dialog-content class="mat-typography mdc-layout-grid">
    <form class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <mat-form-field>
          <mat-label>Razão social</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Setor</mat-label>
          <mat-select>
            <mat-option value="1">Tesouro direto</mat-option>
            <mat-option value="2">Fundo Imobiliário</mat-option>
            <mat-option value="3">Banco</mat-option>
            <mat-option value="3">Seguradora</mat-option>
            <mat-option value="3">Hospedagem</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ticker</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Quantidade</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nota</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Sair</button>
    <button mat-raised-button mat-dialog-close color="primary">Salvar</button>
  </mat-dialog-actions>
</div>
<style>
  .dialog-salvar{
    width: 800px;
  }
  .dialog-salvar form, .dialog-salvar mat-form-field{
    width: 100%;
  }
</style>

