<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Descrição do setor</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-raised-button>Salvar</button>
  </form>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container" style="bottom: 25px; left: 95%; marginLeft: -100; position: absolute">
        <button (click)="openDialog()" mat-fab color="primary">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
