<div class="main-content" [style.width]="'500px'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-header card-header-success">
            <h4 class="card-title">Aporte</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6" *ngIf="ehAcao">
                <mat-form-field color="primary">
                  <mat-label>Categoria</mat-label>
                  <mat-select [value]="tipoAtivoId">
                    <mat-option [value]="1">Ação</mat-option>
                    <mat-option [value]="2">Título Público</mat-option>
                    <mat-option [value]="3">BDR</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div [ngClass]="ehAcao ? 'col-sm-6' : 'col-sm-12'">
                <mat-form-field color="primary">
                  <mat-label>Ativo</mat-label>
                  <mat-select [value]="ativoId">
                    <mat-option [value]="1">Banco do Brasil</mat-option>
                    <mat-option [value]="2">Ambev S.A.</mat-option>
                    <mat-option [value]="3">Cyrela</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field color="primary">
                  <mat-label>Preço</mat-label>
                  <input matInput [value]="aporte.preco">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field color="primary">
                  <mat-label>Quantidade</mat-label>
                  <input matInput [value]="aporte.quantidade">
                </mat-form-field>
              </div>
            </div>
            <div class="pull-right">
              <button mat-raised-button mat-dialog-close class="mr-1">Sair</button>
              <button mat-raised-button mat-dialog-close color="primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
