/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-criar{
  bottom: 25px;
  left: 95%;
  margin-left: -100;
  position: absolute
}

@media screen and (max-width: 1600px) {
  .btn-criar{
    left: 93%;
  }
}

@media screen and (max-width: 850px) {
  .btn-criar{
    left: 90%;
  }
}

.tim-typo{
  position: relative;
  width: 100%;
  margin-left: 15px;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.carteira:hover{
  cursor: pointer;
}

.btn-delete-danger{
  --mdc-fab-small-container-color: #f44336 !important;
  --mat-fab-small-foreground-color: white !important;
  background-color: #f44336 !important;
  color: white !important;
}

.btn-edit-basic{
  --mdc-fab-small-container-color: white !important;
  --mat-fab-small-foreground-color: black !important;
}

.btn-create-basic{
  --mdc-fab-container-color: white !important;
  --mat-fab-foreground-color: #43a047 !important;
  --mat-fab-state-layer-color: #43a047 !important;
  --mdc-fab-small-container-color: #fff !important;
  --mat-fab-small-foreground-color: #43a047 !important;
  --mat-fab-small-state-layer-color: #43a047 !important;
}

.btn-edit-warn{
  --mdc-protected-button-label-text-color: white !important;
  --mat-protected-button-state-layer-color: white !important;
}

mat-form-field {
  width: 100%;
}

.mdc-label{
  margin-top: 8px !important;
}

.mat-mdc-form-field-error {
  color: #f44336 !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{
  color: #f44336 !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #f44336 !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
  border-bottom-color: #f44336 !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: #f44336 !important;
}

.toast-top-center {
  margin-top: 35px !important;
}

.loader {
  width: 100%;
  height: 15px;
  border-radius: 40px;
  color: #43a047;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: currentColor;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  50% {left:100%;transform: translateX(calc(-100% - 4px))}
}

.toast-success{
  background-color: #81c784 !important;
}
