<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <p class="card-category">Total aporte</p>
            <h3 class="card-title">
              {{ totalAporte | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">candlestick_chart</i>
            </div>
            <p class="card-category">Investimento ajustado</p>
            <h3 class="card-title">
              {{ investAjustado | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-icon"
               [ngClass]="lucroPerda > 0 ? 'card-header-success' : 'card-header-danger'"
          >
            <div class="card-icon">
              <i class="material-icons" *ngIf="lucroPerda > 0">trending_up</i>
              <i class="material-icons" *ngIf="lucroPerda <= 0">trending_down</i>
            </div>
            <p class="card-category" [innerHTML]="lucroPerda > 0 ? 'Lucro' : 'Perda'"></p>
            <h3 class="card-title">
              {{ lucroPerda | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <h2 [style.text-align]="'center'">
          Setores
        </h2>
        <div id="setores-chart" style="height: 60vh"></div>
      </div>
      <div class="col-sm-4">
        <h2 [style.text-align]="'center'">
          Ativos
        </h2>
        <div id="ativos-chart" style="height: 60vh"></div>
      </div>
      <div class="col-sm-4">
        <h2 [style.text-align]="'center'">
          Aumentar posições nos setores
        </h2>
        <div id="quero-setores-chart" style="height: 60vh"></div>
      </div>
    </div>
  </div>
</div>
