@import "../../../assets/scss/core/variables/colors";

.acao-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px 16px;
}

.acao-card {
  width: 350px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sinalizar-compra{
  padding-left: 0;
  color: $green-300;
  margin-bottom: 0;
}

.sinalizar-espera{
  padding-left: 0;
  color: $orange-300;
  margin-bottom: 0;
}

.sinalizar-perda{
  color: #e60000
}

.verMais{
  display:flex;
  justify-content: flex-end;
  padding-right: 0;
}

.card-chart {
  margin-top: 5px;
}
