<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <p class="card-category">Total aporte</p>
            <h3 class="card-title">
              {{ totalAporte | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">candlestick_chart</i>
            </div>
            <p class="card-category">Investimento ajustado</p>
            <h3 class="card-title">
              {{ investAjustado | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-4">
        <div class="card card-stats">
          <div class="card-header card-header-icon"
               [ngClass]="lucroPerda > 0 ? 'card-header-success' : 'card-header-danger'"
          >
            <div class="card-icon">
              <i class="material-icons" *ngIf="lucroPerda > 0">trending_up</i>
              <i class="material-icons" *ngIf="lucroPerda <= 0">trending_down</i>
            </div>
            <p class="card-category" [innerHTML]="lucroPerda > 0 ? 'Lucro' : 'Perda'"></p>
            <h3 class="card-title">
              {{ lucroPerda | currency:'BRL'  }}
            </h3>
          </div>
          <div [style.margin-bottom]="'25px'"></div>
        </div>
      </div>
      <div class="tim-typo">
        <h2>
          Título público
        </h2>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let titulo of titulosPublico">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="card-title">{{ titulo.descricao }}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="card-category">Tesouro direto</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span>{{ titulo.precoAjustado | currency:'BRL' }}</span>
              </div>
              <div class="col-sm-6">
                <p class="card-category">{{ titulo.quantidade }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span>{{ titulo.quantidade * titulo.precoAjustado | currency: 'BRL' }}</span>
              </div>
              <div class="col-sm-6">
                <span [ngClass]="titulo.lucroOuPerda === 'Lucro' ? 'sinalizar-compra' : 'sinalizar-perda'">{{ titulo.lucroOuPerda }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-6" [style.padding-left]="'0'">
              <span [ngClass]="titulo.comprarOuAguardar === 'Comprar' ? 'sinalizar-compra' : 'sinalizar-espera'">{{ titulo.comprarOuAguardar }}</span>
            </div>
            <div class="col-sm-6 verMais">
              <button mat-button color="primary" (click)="openDialog()">Ver +</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tim-typo">
        <h2>
          Ações
        </h2>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let acao of acoes">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="card-title">{{ acao.razaoSocial }}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="card-category">{{ acao.ticker }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span>{{ acao.precoDinamico | currency:'BRL' }}</span>
              </div>
              <div class="col-sm-6">
                <p class="card-category">{{ acao.quantidade }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span>{{ acao.quantidade * acao.precoDinamico | currency: 'BRL' }}</span>
              </div>
              <div class="col-sm-6">
                <span [ngClass]="acao.lucroOuPerda === 'Lucro' ? 'sinalizar-compra' : 'sinalizar-perda'">{{ acao.lucroOuPerda }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
              <div class="col-sm-6" [style.padding-left]="'0'">
                <span [ngClass]="acao.comprarOuAguardar === 'Comprar' ? 'sinalizar-compra' : 'sinalizar-espera'">{{ acao.comprarOuAguardar }}</span>
              </div>
              <div class="col-sm-6 verMais">
                <button mat-button color="primary" (click)="openDialog()">Ver +</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
