<main class="main">
  <p class="menu">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="menu minha carteira">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/aportes']">Aportes</button>
        <button mat-menu-item [routerLink]="['/ativos']">Ativos</button>
        <button mat-menu-item [routerLink]="['/setores']">Setores</button>
        <button mat-menu-item [routerLink]="['/acoes']">Ações</button>
        <button mat-menu-item [routerLink]="['/titulos-publicos']">Títulos públicos</button>
      </mat-menu>
      <span (click)="changetab()" class="carteira">Minha carteira</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  <div>
    <router-outlet />
  </div>
</main>

