<div class="main-content" [style.width]="'800px'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Ação</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="acaoForm">
              <div class="row mb-2">
                <div class="col-sm-4">
                  <mat-form-field color="primary">
                    <mat-label>Categoria</mat-label>
                    <mat-select required formControlName="categoria">
                      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{ categoria.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="categoria?.invalid && (categoria?.dirty || categoria?.touched)">{{categoriaErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-5">
                  <mat-form-field color="primary">
                    <mat-label>Setor</mat-label>
                    <mat-select required formControlName="setor">
                      <mat-option *ngFor="let setor of setores" [value]="setor.id">
                        {{ setor.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="setor?.invalid && (setor?.dirty || setor?.touched)">{{setorErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field color="primary">
                    <mat-label>Nota</mat-label>
                    <input matInput required formControlName="nota">
                    <mat-error *ngIf="nota?.invalid && (nota?.dirty || nota?.touched)">{{notaErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field color="primary">
                    <mat-label>Ticker</mat-label>
                    <input matInput required formControlName="ticker" #inputBox (input)="buscarAcaoPorTicker(inputBox.value)">
                    <mat-error *ngIf="ticker?.invalid && (ticker?.dirty || ticker?.touched)">{{tickerErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-9">
                  <mat-form-field color="primary">
                    <mat-label>Razão social</mat-label>
                    <input matInput required formControlName="razaoSocial" [readonly]="true">
                    <mat-error *ngIf="razaoSocial?.invalid && (razaoSocial?.dirty || razaoSocial?.touched)">{{razaoSocialErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="pull-right">
                <button mat-raised-button mat-dialog-close class="mr-1">Fechar</button>
                <button mat-raised-button color="primary" [disabled]="loading || acaoForm.invalid" (click)="salvar()">
                  <mat-spinner *ngIf="loading" [style.width]="'30px'"></mat-spinner>
                  <span *ngIf="!loading">Salvar</span>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
