<div class="main-content">
  <div class="container-fluid">
    <div class="row" [style.margin-top]="'15px'">
      <div class="tim-typo">
        <h2>
          Configurar minha carteira
        </h2>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Título público</h4>
                  </div>
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>assured_workload</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar ativos de títulos públicos" [routerLink]="['/titulos-publicos']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Ação</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>candlestick_chart</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar ativos de ações" [routerLink]="['/acoes']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Fundo Imobiliário</h4>
                  </div>
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>apartment</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar ativos de fundos imobiliários" [routerLink]="['/acoes']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Brazilian Depositary Receipts</h4>
                  </div>
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>language</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar ativos de brazilian depositary receipts" [routerLink]="['/acoes']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Moeda</h4>
                  </div>
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>attach_money</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar ativos de moedas" [routerLink]="['/moedas']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="card-title">Setor</h4>
                  </div>
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 icon-ativo">
                    <mat-icon>domain</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-sm-12 verMais">
              <button mat-button color="primary" aria-label="Configurar setores" [routerLink]="['/setores']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
