<main class="main">
  <p class="menu">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="menu minha carteira">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/setor']">Setor</button>
        <button mat-menu-item [routerLink]="['/']">Ação</button>
        <button mat-menu-item [routerLink]="['/']">Título público</button>
      </mat-menu>
      <span>Minha carteira</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  <div class="content">
    <router-outlet />
  </div>
  <div>
  </div>
</main>

