<div class="main-content" [style.width]="'500px'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Salvar setor</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <mat-label>Descrição do setor</mat-label>
                  <input matInput [value]="setor.descricao">
                </mat-form-field>
              </div>
            </div>
            <div class="pull-right">
              <button mat-raised-button mat-dialog-close class="mr-1">Sair</button>
              <button mat-raised-button mat-dialog-close color="primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.dialog-salvar form, .dialog-salvar mat-form-field{
  width: 100%;
}
</style>

