<div class="dialog-salvar">
  <h2 mat-dialog-title>Salvar setor</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <mat-form-field>
        <mat-label>Descrição do setor</mat-label>
        <input matInput>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Sair</button>
    <button mat-raised-button mat-dialog-close color="primary">Salvar</button>
  </mat-dialog-actions>
</div>
<style>
.dialog-salvar{
  width: 400px;
}
.dialog-salvar form, .dialog-salvar mat-form-field{
  width: 100%;
}
</style>

