.table-setores{
  width: 600px;
}

.botao-salvar{
  bottom: 25px;
  left: 95%;
  marginLeft: -100;
  position: absolute
}

@media screen and (max-width: 1600px) {
  .botao-salvar{
    left: 93%;
  }
}

@media screen and (max-width: 850px) {
  .botao-salvar{
    left: 90%;
  }
}
