<div class="main-content" [style.width]="'800px'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" [ngClass]="{'card-header-success': comprar, 'card-header-warning': !comprar}">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title" [innerHTML]="ehAcao ? ativo.razaoSocial : ativo.descricao"></h4>
                <p class="card-category">{{ ativo.setor.descricao }}</p>
              </div>
              <div class="col-md-6">
                <span class="pull-right">
                  <p class="card-category" [style.margin-top]="'50px'">Na carteira desde {{ ativo.dataRegistro | date : "MMMM y" }}</p>
                </span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="row" *ngIf="ehAcao">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Setor</mat-label>
                    <mat-select [(value)]="setorId">
                      <mat-option value="1">Tesouro direto</mat-option>
                      <mat-option value="2">Fundo Imobiliário</mat-option>
                      <mat-option value="3">Banco</mat-option>
                      <mat-option value="4">Seguradora</mat-option>
                      <mat-option value="5">Hospedagem</mat-option>
                      <mat-option value="6">Mídia</mat-option>
                      <mat-option value="7">Aéreo</mat-option>
                      <mat-option value="9">Construção civil</mat-option>
                      <mat-option value="5">Logística</mat-option>
                      <mat-option value="8">Escritório</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Ticker</mat-label>
                    <input matInput [value]="ativo.ticker">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Razão social</mat-label>
                    <input matInput [value]="ativo.razaoSocial">
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="ehAcao">
                <div class="col-md-5">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Setor</mat-label>
                    <mat-select [(value)]="setorId">
                      <mat-option value="1">Tesouro direto</mat-option>
                      <mat-option value="2">Fundo Imobiliário</mat-option>
                      <mat-option value="3">Banco</mat-option>
                      <mat-option value="4">Seguradora</mat-option>
                      <mat-option value="5">Hospedagem</mat-option>
                      <mat-option value="6">Mídia</mat-option>
                      <mat-option value="7">Aéreo</mat-option>
                      <mat-option value="9">Construção civil</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Descrição</mat-label>
                    <input matInput [value]="ativo.descricao">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label [innerHTML]="ehAcao ? 'Preço dinâmico' : 'Preço ajustado'"></mat-label>
                    <input matInput [value]="ehAcao ? ativo.precoDinamico : ativo.precoAjustado">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Nota</mat-label>
                    <input matInput [value]="ativo.nota">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Quantidade</mat-label>
                    <input matInput [value]="ativo.quantidade" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Preço / Quanto Falta-->
                    <mat-label>Quantidade que Falta</mat-label>
                    <input matInput value="10" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Quantidade * Preço-->
                    <mat-label>Tenho</mat-label>
                    <input matInput value="R$ 750" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Nota do ativo / soma de todas as notas da carteira-->
                    <mat-label>Carteira Ideal</mat-label>
                    <input matInput value="2,50%" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Tenho - Quero-->
                    <mat-label>Quanto que Falta</mat-label>
                    <input matInput value="R$ 150,33" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Tenho / Investimento ajustado-->
                    <mat-label>Carteira Tenho</mat-label>
                    <input matInput value="1,84%" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <!--Carteira Ideal * Total aporte-->
                    <mat-label>Quero</mat-label>
                    <input matInput value="R$ 900,25" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="pull-right">
                <button mat-raised-button mat-dialog-close [style.margin-right]="'5px'">Fechar</button>
                <button mat-raised-button mat-dialog-close [class]="{'btn-edit-warn': !comprar}"
                        type="submit" [color]="comprar ? 'primary' : 'warn'">Editar</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
