<div class="main-content" [style.width]="'800px'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" [ngClass]="{'card-header-success': comprar, 'card-header-warning': !comprar}">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title" [innerHTML]="ehAcao ? ativo.razaoSocial : ativo.descricao"></h4>
                <p class="card-category">{{ ativo.setor.descricao }}</p>
              </div>
              <div class="col-md-6">
                <span class="pull-right">
                  <p class="card-category" [style.margin-top]="'50px'">Na carteira desde {{ ativo.dataRegistro | date : "MMMM y" }}</p>
                </span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="loading" [class]="comprar ? 'loader' : 'loader-warn'"></div>
            <form *ngIf="!loading" [formGroup]="ativoForm">
              <div class="row" *ngIf="ehAcao">
                <div class="col-sm-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Categoria</mat-label>
                    <mat-select required formControlName="categoria">
                      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{ categoria.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="categoria?.invalid && (categoria?.dirty || categoria?.touched)">{{categoriaErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-5">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Setor</mat-label>
                    <mat-select required formControlName="setor">
                      <mat-option *ngFor="let setor of setores" [value]="setor.id">
                        {{ setor.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="setor?.invalid && (setor?.dirty || setor?.touched)">{{setorErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Ticker</mat-label>
                    <input matInput required formControlName="ticker" #inputBox (input)="buscarAcaoPorTicker(inputBox.value)">
                    <mat-error *ngIf="ticker?.invalid && (ticker?.dirty || ticker?.touched)">{{tickerErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="ehAcao">
                <div class="col-md-12">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Razão social</mat-label>
                    <input matInput required formControlName="razaoSocial" [readonly]="true">
                    <mat-error *ngIf="razaoSocial?.invalid && (razaoSocial?.dirty || razaoSocial?.touched)">{{razaoSocialErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="!ehAcao">
                <div class="col-md-5">
                  <mat-form-field color="primary">
                    <mat-label>Setor</mat-label>
                    <mat-select required formControlName="setor">
                      <mat-option *ngFor="let setor of setores" [value]="setor.id">
                        {{ setor.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="setor?.invalid && (setor?.dirty || setor?.touched)">{{setorErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Descrição</mat-label>
                    <input matInput required formControlName="descricao">
                    <mat-error *ngIf="descricao?.invalid && (descricao?.dirty || descricao?.touched)">{{descricaoErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div *ngIf="ehAcao">
                    <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                      <mat-label>Preço dinâmico</mat-label>
                      <input matInput [value]="ativo.precoDinamico" readonly>
                    </mat-form-field>
                  </div>
                  <div *ngIf="!ehAcao">
                    <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                      <mat-label>Preço ajustado</mat-label>
                      <input matInput required formControlName="precoDinamico" [readonly]="true">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Nota</mat-label>
                    <input matInput required formControlName="nota">
                    <mat-error *ngIf="nota?.invalid && (nota?.dirty || nota?.touched)">{{notaErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Quantidade</mat-label>
                    <input matInput [value]="ativo.quantidade" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Quantidade que Falta</mat-label>
                    <input matInput [value]="ativo.quantoFaltaTotal"  readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Tenho</mat-label>
                    <input matInput [value]="ativo.valorTotalAtivo" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'" readonly>
                    <mat-label>Carteira Ideal</mat-label>
                    <input matInput [value]="ativo.carteiraIdealPorcento" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Quanto que Falta</mat-label>
                    <input matInput [value]="ativo.quantoFaltaTotal" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Carteira Tenho</mat-label>
                    <input matInput [value]="ativo.carteiraTenhoPorcento" readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field [color]="comprar ? 'primary' : 'warn'">
                    <mat-label>Quero</mat-label>
                    <input matInput [value]="ativo.quantoQueroTotal" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="pull-right">
                <button mat-raised-button mat-dialog-close class="mr-1">Fechar</button>
                <button mat-raised-button [class]="{'btn-edit-warn': !comprar}"
                        [disabled]="btnLoading || ativoForm.invalid" (click)="editar()"
                        [color]="comprar ? 'primary' : 'warn'">
                    <mat-spinner *ngIf="btnLoading" [style.width]="'30px'"></mat-spinner>
                    <span *ngIf="!btnLoading">Editar</span>
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
